.projectsPageWrapper {
    @include flexColumn;
    align-items: stretch;
}

.projectPageHeadingWrapper {
    @include flexCenter;
    margin: 0 auto 1.6em;

    .projectsPageHeading {
        font-size: $fs_heading_lg;
        color: $white_text;
        margin: 0 auto 0.3em;

        @media (max-width: 1024px) {
            font-size: calc($fs_heading_lg * 0.96);
        }

        @media (max-width: 768px) {
            font-size: $fs_heading_md;
        }

        @media (max-width: 460px) {
            font-size: calc($fs_heading_md * 0.96);
        }
    }
}

.projectWrapper {
    align-self: center;
    // min-width: 50%;
    // width: 66%;

    @include flexColumn;
    align-items: stretch;
    gap: clamp(36px, 3.6rem, 46px);
}
