$svg_width: $fs_normal_xl;

.linkBtnBaseStyle {
    @include flexCenter;
    font-size: $fs_normal_md;
    font-weight: 300;
    padding: 0.6em 1.2em;
    color: $white_text;
    border: 2px solid transparent;
    border-radius: $distance_sm;
    background-color: color-mix(in srgb, $snow_white_color 6%, transparent 100%);
    // gap: clamp(24px, 2.4rem, 32px);
    transition: $transition_effect_md;

    @media (max-width: 1024px) {
        font-size: calc($fs_normal_md * 0.96);
    }

    @media (max-width: 768px) {
        font-size: $fs_normal_sm;
    }

    @media (max-width: 460px) {
        font-size: $fs_normal_ssm;
    }

    .arrowIconWrapper {
        @include flexCenter;
        gap: 10px;
        aspect-ratio: 1 / 1.06;
        width: calc($svg_width * 1.16);
        height: $svg_width;
        overflow: hidden;
        position: relative;
        transition: $transition_effect_md;

        @media (max-width: 1024px) {
            width: calc($svg_width * 0.96);
            height: $svg_width;
        }

        @media (max-width: 768px) {
            width: calc($svg_width * 0.9);
        }

        @media (max-width: 460px) {
            width: calc($svg_width * 0.8);
        }

        svg {
            position: absolute;
            aspect-ratio: 1 / 1;
            width: $svg_width;
            transition: $transition_effect_md;

            @media (max-width: 1024px) {
                width: calc($svg_width * 0.96);
            }

            @media (max-width: 768px) {
                width: calc($svg_width * 0.9);
            }

            @media (max-width: 460px) {
                width: calc($svg_width * 0.8);
            }
        }

        &.left {
            width: 0;
            margin-right: 0;

            & > * {
                transform: translateX(-100%);
            }
        }

        &.right {
            width: calc($svg_width * 1.16);
            margin-left: clamp(24px, 2.4rem, 32px);

            & > * {
                transform: translateX(0);
            }

            @media (max-width: 1024px) {
                width: calc($svg_width * 1.1);
                margin-left: clamp(20px, 2.2rem, 26px);
            }

            @media (max-width: 768px) {
                width: calc($svg_width * 0.96);
                margin-left: clamp(16px, 1.8rem, 20px);
            }

            @media (max-width: 460px) {
                width: calc($svg_width * 0.9);
                margin-left: clamp(6px, 0.8rem, 10px);
            }
        }
    }

    &:hover {
        .arrowIconWrapper {
            &.left {
                width: calc($svg_width * 1.16);
                margin-right: clamp(24px, 2.4rem, 32px);

                & > * {
                    transform: translateX(0);
                }

                @media (max-width: 1024px) {
                    width: calc($svg_width * 1.1);
                    margin-right: clamp(20px, 2.2rem, 26px);
                }

                @media (max-width: 768px) {
                    width: calc($svg_width * 0.96);
                    margin-right: clamp(16px, 1.8rem, 20px);
                }

                @media (max-width: 460px) {
                    width: calc($svg_width * 0.9);
                    margin-right: clamp(6px, 0.8rem, 10px);
                }
            }

            &.right {
                width: 0;
                margin-left: 0;

                & > * {
                    transform: translateX(120%);
                }
            }
        }
    }
}
